{% for section in page.sections %}
  {% case section._id %}
    {% when '2-image-grid' %}
      {% include blocks/2-image-grid.html section=section %}
    {% when '3-image-gallery' %}
      {% include blocks/3-image-gallery.html section=section %}
    {% when 'highlight-boxes'%}  
      {% include blocks/highlight-boxes.html %}
    {% when 'column-section-1' %}  
      {% include blocks/column-section-1.html %}
    {% when 'team' %}  
      {% include blocks/team-listing.html %}
    {% when 'cta-1' %}  
      {% include blocks/cta-1.html %}
    {% when 'ads-slider' %}
      {% include blocks/ads-slider.html %}
    {% when 'testimonial-slider' %}
      {% include blocks/testimonial-slider.html %}
    {% when 'professionals' %}
      {% include blocks/professionals.html %}
  {% endcase %}
{% endfor %}