---
layout: default
title: Terms and Conditions
preview_image: /assets/images/salon-decor2.jpg
main_image: /assets/images/salon-decor2.jpg
main_image_alt_text: 'hair salon lichfield, luxury salon kerastase loreal '
sections:
  - _id: column-section-1
    label: 'Column Section #1'
    background_class: bg-secondary
    heading: Salon Policies & FAQ
    content_html: >-
      <blockquote><h6><strong>Appointment Cancellation &amp; No Show
      Policy</strong></h6></blockquote><h5>We kindly ask that if you wish to
      cancel your appointment that you give us at least 48 hours notice. Any
      deposits given for services will be lost if 48 hours is not given. If you
      book your appointment by way of our online booking system and do not
      adhere to our 48 hour cancellation the salon reserve the right to charge
      you up to the balance of your booking left to pay in salon by way of your
      online payment method.&nbsp;</h5><h5>In the event you do not show up to
      your appointment, you will lose any deposit paid to secure the appointment
      and you will be required to give a deposit for your next appointment. If
      you miss three consecutive appointments without contacting the salon, you
      will be unable to schedule future appointments.&nbsp; If you booked your
      appointment using our online booking system and do not show up for your
      appointment the salon reserve the right to charge you up to the balance of
      your booking left to pay in salon by way of your online payment
      method.</h5><h5>This policy is in place out of respect for our staff
      members and clients. Cancellations with less than 48 hours notice are
      difficult to fill.</h5><h5><strong>Lateness Policy</strong></h5><h5>If for
      any reason you are running late for your appointment please call us on
      01543 897790</h5><h5>We work very hard to schedule the right amount of
      time for each service. Accommodating late guests is often impossible
      without disrupting every other guest scheduled that day. Please be aware
      in the unfortunate event you are late, we cannot guarantee that your
      services will be performed that day. Lateness of 10 minutes or more may
      require rescheduling your appointment for another day and the loss of your
      deposit.</h5><h5><strong>Deposits for Appointments</strong></h5><h5>We are
      sorry we have to take deposits for appointments at The Style Lounge. When
      bookings are made over the phone a £30 deposit is payable for all colour
      appointments and/or services with a value of a £100 or more, for extension
      appointments&nbsp; a £100 deposit is payable.</h5><h5>Deposits will be
      deducted from your bill in the salon. Deposits are fully refundable /
      Transferable if 48 hours notice is given for any cancellations. Please see
      our lateness policy as deposits will be forfeited if you are past the cut
      off time to carry out your appointment.</h5><h5><strong>Service
      Satisfaction</strong></h5><h5>If after your appointment you are not
      satisfied with your service, we ask you to please contact the salon within
      7 days of that service. We would like every opportunity to meet and exceed
      your expectations, as we value you as a client. If you have simply changed
      your mind or if you return after the 7 days, normal charges will apply. If
      you have altered or attempted to alter a hair colour or cut yourself or by
      a third party this guarantee becomes null and void.</h5><h5>In the event
      you do not show up to your appointment, you will lose and deposit paid to
      secure the appointment and you will be required to give a deposit for your
      next appointment. If you miss three consecutive appointments without
      contacting the salon, you will be unable to schedule future
      appointments.</h5><h5><strong>Skin Testing</strong></h5><h5>If a skin test
      is required for your colour services and you fail to have one done, then
      we have no choice but to cancel your appointment. Skin tests must be
      carried out 48 hours or before your appointment. At The Style Lounge we
      insist on following the rules and regulations of the manufacturers that
      supply our colour for your own safety and well being.</h5><h5>A skin test
      is required for all new clients that have not had colour with us before
      and also for existing clients that have not had colour with us in the last
      6 months.</h5><h5>It is very rare for a reaction to occur but if it does
      it can be very severe and can even cause hospitalisation - this is a risk
      that we are not willing to take.</h5><h5><strong>Colouring Hair When
      Pregnant</strong></h5><h5>NHS guidance states that chemicals in permanent
      and semi-permanent hair dyes, including those that contain bleaching
      agents, are not highly toxic. Although there's only limited research, most
      of the evidence shows that it's safe to colour or bleach your hair while
      pregnant.</h5><h5>Many women decide to wait to dye their hair until after
      the first 12 weeks of pregnancy, when the risk of chemical substances
      harming the baby is much lower.</h5><h5>Please speak with your doctor for
      more information about colouring your hair when
      pregnant.</h5><h5><strong>Gift Vouchers</strong></h5><h5>No refunds will
      be given for gift voucher purchases. Gift vouchers are not redeemable for
      cash. Gift vouchers are valid for 12 months from the purchase date. Gift
      voucher are redeemable in salon only against products and services. If
      change is required this will be given in the form of a credit on your
      profile at the salon to be redeemed on your next visit.</h5><h5>1.
      Vouchers are valid for a year from purchase and can not be used after that
      date.</h5><h5>2. Vouchers cannot be replaced if lost, stolen or
      destroyed.</h5><h5>3. Vouchers cannot be refunded or exchanged for cash or
      other denominated vouchers.</h5><h5>4. If an intended purchase is for a
      higher amount than the face value of the voucher(s), the difference can be
      made up with a credit card/cash payment. If it is less, then change cannot
      be given.</h5><h5>5. Vouchers cannot be used in conjunction with any
      special promotions, discount, coupons or cards.</h5><h5>6. Vouchers cannot
      be sold to any third parties without our consent. If we do give our
      consent then such consent may be subject to any conditions which we
      impose. In any event, you may not sell the Vouchers through the internet
      without our express written consent, which you must obtain before making
      any such sale. We reserve the right at all times to refuse to permit any
      sale of Vouchers by you to a third party.</h5><h5>7. Vouchers can not be
      redeemed online, via post or via telephone.</h5><h5><strong>Are you
      dog-friendly?</strong></h5><h5>We are proud to be a dog-friendly salon and
      welcome you bringing you K9 companions with you. If you bring your doggy
      with you we kindly ask they are fully house trained, vaccinated and
      friendly with other dogs and
      people.</h5><h5><strong>Consultations</strong></h5><h5>At The Style Lounge
      we really want you to LOVE your hair and to make sure we get you booked in
      for the right service and ensure we can reach your #hairgoals it might be
      necessary for you to come to the salon for a consultation. Time slots for
      complimentary consultations are available with our
      stylists.</h5><h5><strong>Appointments with a Graduate Colourist &amp;
      Stylist&nbsp;</strong></h5><h5>Please beware that a Graduate/Junior  team
      members that has just completed their training, may take longer and
      results can vary from your specific brief. If you have a very particular
      end goal in mind for your hair then please book with a more senior member
      of our team.</h5><h5><strong>Personal Belongings</strong></h5><h5>The
      company will not accept any responsibility for the loss or damage
      (including clothing) to any personal belongings that you bring to the
      salon with you.</h5><h5>While The Style Lounge team will always endeavour
      to keep your personal belongings safe and undamaged we cannot accept any
      responsibility for loss or damage of your personal possessions while on
      the premises. We do take every precaution possible to protect your clothes
      from colour but we would advise you to wear something appropriate to avoid
      disappointment. High necklines and collars are best
      avoided.&nbsp;</h5><h5>We highly recommended not to wear expensive
      clothing while getting your hair coloured at the
      salon.</h5><h5><strong>Extra Long &amp; Thick Hair or not been to the
      salon for over 3 months?</strong></h5><h5>We kindly ask that you let us
      know at the time of booking your appointment if you have extra long hair
      or thick hair as we may need to book extra time on to your appointment to
      achieve your desired look. If you do not tell us and our standard
      appointment time is not long enough we will have no choice but to
      reschedule your appointment and you will lose any deposit
      paid.</h5><h5>Please be aware that there is an extra charge for long/thick
      hair of £10 per service. This is purely because we have to book out more
      time and use an extra product in the hair.&nbsp;</h5>
    image:
    alt_text:
    add_button: false
    button_text:
    button_url:
---
<section class="padding-y-lg padding-x-lg grid-noGutter-spaceAround">
  <div class="col-6_sm-12-middle">
    <h2 class="editable">The Style Lounge</h2>
    <address><p>{{site.data.settings.basics.address}}</p></address>
    <p>
      <a href="tel:{{site.data.settings.basics.phone_number | remove: " "}}">{{site.data.settings.basics.phone_number}}</a>
    </p>
    <p>
      <a href="mailto:{{site.data.settings.basics.contact_email}}">{{site.data.settings.basics.contact_email}}</a>
    </p>
    <div class="social-links">
      <a href="{{site.data.settings.social.facebook_url}}" class="footer-social" target="_blank">{%include social-icons.html icon="Facebook" %}</a>
      <a href="{{site.data.settings.social.instagram_url}}" class="footer-social" target="_blank">{%include social-icons.html icon="Instagram" %}</a>
    </div>
    <div class="padding-y-md">
      <h3 class="editable">Opening Hours:</h3>
      <p>Monday: {{site.data.settings.opening_hours.monday}}</p>
      <p>Tuesday: {{site.data.settings.opening_hours.tuesday}}</p>
      <p>Wednesday: {{site.data.settings.opening_hours.wednesday}}</p>
      <p>Thursday: {{site.data.settings.opening_hours.thursday}}</p>
      <p>Friday: {{site.data.settings.opening_hours.friday}}</p>
      <p>Saturday: {{site.data.settings.opening_hours.saturday}}</p>
      <p>Sunday: {{site.data.settings.opening_hours.sunday}}</p>
    </div>
  </div>
  <div class="col-6_sm-12-middle">
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2418.6763874512326!2d-1.82551712280141!3d52.683881372104615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870a78b8c8d2a2d%3A0xb12b96820ac094b4!2sThe%20Style%20Lounge!5e0!3m2!1sen!2sbr!4v1695765420788!5m2!1sen!2sbr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section>
