
// Buttons


.btn-outline {
  @include button-standard;
  color          : $accent-color;
  border-color   : $accent-color;
  @include transition;
  &:hover {
    color             : $light-color;
    background-color  : $accent-shade;
    border-color      : $accent-shade;
    @include transition;
  }
}

.btn-solid {
  @include button-standard;
  color           : $light-color;
  background-color: $accent-shade;
  border-color    : $accent-shade;
  @include transition;
  &:hover {
    background-color  : $accent-color;
    border-color      : $accent-color;
    @include transition;
  }
}

.desktop-nav {
  .btn-outline {
    padding: 0.4rem 1rem;
    margin: 0;
  }
}

