
// Buttons

.button {
  padding        : 1rem 2rem;
  display        : inline-block;
  margin         : 2rem 0;
  border         : 1px solid;
  text-transform : uppercase;
  font-family    : $heading-font-family;
  letter-spacing : 2px;
}

.bg-primary .button {
  color        : $secondary-shade;
  border-color : $secondary-shade;
}

.bg-secondary .button {
  color        : $primary-shade;
  border-color : $primary-shade;
}
