.footer-social svg {
    width: 35px;
    padding: 3px;
    fill: #f2f2f2;
    margin-top: 1rem;
    &:hover {
      fill: $accent-color;
      @include transition;
    }
}

.footer-logo {
    width: 150px;
    margin-bottom: 2rem;
}

.footer nav ul {
  list-style: none;
  text-align: center;
  li {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: unset;
    }
  }
}
.legal-links {
  
  color: goldenrod;
  a {
    display: inline-block;
    font-size: 0.8rem;
    padding: 8px;
    margin: 0 5px;
  }
}