@media (max-width: 48rem) {
  .gallery-main,
  .gallery-md-top,
  .gallery-md-bottom {
    padding: 0;
  }
}

@media (min-width: 300px) and (max-width: 951px) {
  .mobile-nav {
    display: inline-block;
  }
  .desktop-nav {
    display: none;
  }
  .nav-bar {
    padding   : 3% 2%;
  }
  .form-container {
    width: 100%;
  }
  .page-title-container {
    h3 {
    padding: 1rem;
    }
    &::before {
      height: 55px;
    }
  }
  .item-cards .item-img {
    height: 300px;
  }
  .padding-lg {
    padding-top: 15%;
  }
  .team .bg-pattern::before {
    height: 70px;
    top: 10%;
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .mobile-hide {
    display: none;
  }
  .mobile-center {
    text-align: center;
  }
  .header-banner {
    height: 500px;
  }
  .highlight-container {
    width: 100%;
  } 
  .column-section-1 .img-lg {
    width: 90%;
    height: 300px;
  }
  .header-banner {
    .banner-heading {
      font-size: 2.8rem;
    }
    .header-content h3 {
      font-size: 2rem;
    }
  }
  h2 {
    font-size: 3rem;
  }
  p,
  a,
  ol,
  ul,
  li,
  span,
  label,
  input,
  textarea
  {
    
    font-size      : 1rem;
    line-height    : 1.4;
    font-weight    : 300;
  }
    .highlight-inner h3 {
    font-size: 1.3rem;
  }
}


@media (min-width: 576px) and (max-width: 1620px) {
  .highlight-container,
  .column-section-1 .img-lg {
    width: 90%;
    // height: 300px;
  }
   
  .highlight-inner h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 951px) and (max-width: 1458px) {
  nav a {
    margin-right: 1.5rem;
    font-size: 0.8rem;
  }
  .nav-bar {
    padding: 0.5rem 1rem;
  }
  .desktop-nav {
    padding: 0;
    .btn-outline {
      padding: 0.4rem 0.5rem;
      margin: 0;
      font-size: 0.8rem;
    }
    .nav-title {
      font-size: 0.9rem;
    }
    .menu-social a {
      display: inline-block;
      padding: 0.3rem;
      margin: unset;
    }
    .nav-logo img {
      width: 70px;
    }
  }
}
