
// Typography
h1,
h2,
h3 {
  font-family     : $heading-font-family;
  margin-bottom   : $heading-default-bottom-margin;
  // letter-spacing  : 2px;
}

h1 {
  
  font-size       : 4rem;
  text-transform  : uppercase;
}

h2 {
  font-weight   : 200;
  font-size     : 3.5rem;
}

h3 {
  font-size     : 2rem;
  font-weight   : 300;
}



p,
a,
ol,
ul,
li,
address,
span,
label,
input,
textarea
 {
  font-family    : $body-font-family;
  font-size      : 1.2rem;
  line-height    : 1.5;
  font-weight    : 300;
  text-transform : unset;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem auto;
}

// overrides the Cookiescript styles
#cookiescript_injected span {
    font-size: 0.9rem;
    text-transform: unset;
}