<!-- Add your footer code here -->
<footer id="footer" class="footer padding-x-lg padding-y-sm mobile-center">
  <div class="grid-noGutter-spaceAround">
    <div class="col-4_md-12-middle my-2">
      {% picture small_logo "{{site.data.settings.basics.site_logo_image}}" --img class="footer-logo" alt="The Style Lounge Lichfield Hair Salon Bridal Services"%}      
      <a href="https://maps.app.goo.gl/HTGieg8ZEWBBSVxn8" target="_blank" rel="noopener noreferrer" class="padding-sm"><address>{{site.data.settings.basics.address}}</address></a>
      <div class="">
        <a href="tel:{{site.data.settings.basics.phone_number | remove: " "}}" class="inline-block padding-sm">{{site.data.settings.basics.phone_number}}</a>
        <a href="mailto:{{site.data.settings.basics.contact_email}}" class="inline-block padding-sm">{{site.data.settings.basics.contact_email}}</a>
      </div>
      <a href="{{site.data.settings.social.facebook_url}}" class="footer-social" target="_blank" aria-label="Facebook profile">{%include social-icons.html icon="Facebook" %}</a>
      <a href="{{site.data.settings.social.instagram_url}}" class="footer-social" target="_blank"  aria-label="Instagram profile">{%include social-icons.html icon="Instagram" %}</a>
    </div>
    <div class="col-4_md-12-middle mobile-hide">
      <nav class="footer-nav">
        <ul>
          {% for menu in site.data.settings.navigation %}
          <li>
            <a href="{{menu.url}}">{{menu.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>  
    </div>
    <div class="col-4_md-12-middle my-2 right mobile-center">
      <h3>Opening Hours</h3>
      <p>Monday: {{site.data.settings.opening_hours.monday}}</p>
      <p>Tuesday: {{site.data.settings.opening_hours.tuesday}}</p>
      <p>Wednesday: {{site.data.settings.opening_hours.wednesday}}</p>
      <p>Thursday: {{site.data.settings.opening_hours.thursday}}</p>
      <p>Friday: {{site.data.settings.opening_hours.friday}}</p>
      <p>Saturday: {{site.data.settings.opening_hours.saturday}}</p>
      <p>Sunday: {{site.data.settings.opening_hours.sunday}}</p>
    </div>
  </div>
  <div class="col-12 legal-links center">
    <a href="/privacy" class="padding-sm">Your Privacy & Cookies</a>
    <a href="https://linkedin/in/gus-schiavon" class="padding-sm"><strong>Created with passion by Gus.Dev</strong></a>
  </div>
</footer>