<!-- Create your above-the-fold here -->
<header>
  {% include essentials/nav.html %}
  <div class="header-banner">
    {% if page.main_image %}
      {% assign path = page.main_image | replace: "/assets", "assets" %}
      {% assign alt = page.main_image_alt_text %}
      {% responsive_image_block %}
        path: {{ path }}
        alt: {{ alt }}
        {% if title %}
        title: {{ title }}
        {% endif %}
      {% endresponsive_image_block %}
    {% endif %}
    {% if page._home %}
    <div class="header-content flex-center">
      <h2 class="banner-heading" data-aos="zoom-in" data-aos-duration="1000">
        The Style Lounge
      </h2>
      <h3 class="editable" data-aos="zoom-in" data-aos-duration="1000">
 	Lichfield
 </h3>
      <!-- <span>
        <a href="book" class="btn-solid">Make appointment</a>
      </span> -->
    </div>
    {% endif %}
    {% unless page._home %}
    <div class="page-title-container bg-accent" id="page-title">
      <h3 class="center">
        {{page.title}}
      </h3>
    </div>
    {% endunless %}
  </div>

</header>
