<!-- Create your above-the-fold here -->
<header>
  {% include essentials/nav.html %}
<div class="header-banner">
  <img src="/assets/images/hair-salon-lichfield-the-style-lounge-10.jpg" class="responsive-img" alt="">
  <div class="header-content">
    <h2 class="banner-heading">
      Your best look
    </h2>
    <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, magni tenetur nulla hic et quos suscipit aperiam sed necessitatibus at.</p>
    <span>
      <a href="book" class="btn-solid">Make appointment</a>
    </span>
  </div>
</div>
</header>
