<div class="nav-bar">
  <div id="desktop-nav" class="desktop-nav">
    <div class="grid-noGutter-spaceBetween">
      <div class="col-2-middle">
        <a href="/" class="nav-logo">
          <img src="{{site.data.settings.basics.site_logo_image}}" alt="{{site.data.settings.basics.site_title}}">
        </a>
      </div>
      <nav class="col-10-middle right">
        {% for menu in site.data.settings.navigation %}
          <a href="{{menu.url}}" class="editable {% if menu.button %}btn-outline{% endif %}">{{menu.name}}</a>
        {% endfor %}
        <span class="menu-social">
          <a href="{{site.data.settings.social.facebook_url}}">{% include social-icons.html icon='Facebook' %}</a>
          <a href="{{site.data.settings.social.instagram_url}}">{% include social-icons.html icon='Instagram' %}</a>
        </span>
        
      </nav>
    </div>
  </div>
  <div id="mobile-nav" class="mobile-nav">
    <div class="burger-container">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="mobile-menu" class="mobile-menu hide">
      <nav class="mobile-links">
        <ul>
          {% for menu in site.data.settings.navigation %}
          <li><a href="{{menu.url}}" class="editable {% if menu.button %}btn-outline{% endif %}">{{menu.name}}</a></li>
          {% endfor %}
          
        </ul>
      </nav>
      <div class="menu-social">
        <a href="{{site.data.settings.social.facebook_url}}">{% include social-icons.html icon='Facebook' %}</a>
        <a href="{{site.data.settings.social.instagram_url}}">{% include social-icons.html icon='Instagram' %}</a>
        <a href="{{site.data.settings.social.twitter_url}}">{% include social-icons.html icon='Twitter' %}</a>
      </div>
    </div>
  </div>
</div>
