<section id="2-image-grid">
  {% for row in section.rows %}
  <div class="grid-noGutter-equalHeight{% cycle '','-reverse' %} row">
    <div class="col-6_sm-12-middle text-container">
      <div class="padding-md flex-left bg-primary">
        {% unless row.heading == nil %}
        <h2>
          {{row.heading}}
        </h2>
        {% endunless %}
        <p>
          {{row.content}}
        </p>
      </div>
    </div>
    <div class="col-6_sm-12-middle img-container">
      <div class="bg-accent">
        <div class="">
          {% assign path = row.image %}
          {% assign alt = row.alt_text %}
          {% include image-lazy.html %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
