<section id="2-image-grid">
  {% for row in section.rows %}
  <div class="grid-noGutter-equalHeight{% cycle '','-reverse' %} row">
    <div class="col-6_sm-12-middle text-container">
      <div class="padding-lg flex-{% cycle "left", "right" %} {{row.background_class}}">
        {% unless row.heading == nil %}
        <h2>
          {{row.heading}}
        </h2>
        {% endunless %}
        <p class="{% cycle "", "right" %}">
          {{row.content_text_html}}
        </p >
        {% if row.add_button %}
        <a href="{{row.button_url}}" class="btn-outline">{{row.button_text}}</a>
        {% endif %}
      </div>
    </div>
    <div class="col-6_sm-12-middle img-container">
      <div class="bg-accent">
        {% picture xxlarge "{{row.image}}" --img alt="{{row.alt_text}}"%}        
      </div>
    </div>
  </div>
  {% endfor %}
</section>
