 <section id="ads-slider" class="ads-slider padding-lg {{section.background_class}}">
  <div class="grid-spaceAround-noGutter-reverse bg-pattern">
    <div class="col-4_md-12-middle">
      <div class="padding-x-md">
        <h2 class="editable">
 	Our Latest Promotions&nbsp;
 </h2>
      </div>
    </div>
    <div class="col-8_md-12-middle">
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-80c75377-8bd8-43b0-b237-a9d6df08743c"></div>
    </div>
  </div>
 </section>