<div id="column-section-1" class="column-section-1 padding-md {{section.background_class}}">
  <div class="grid-noGutter-spaceAround">
    <div class="col-6_sm-12-middle">
      <div class="img-lg bg-pattern">
        {% assign path = section.image | replace: "/assets/images", "assets/images/srcset/600" %}
        {% assign alt = section.alt_text %}     
        {% include image-600.html %}
      </div>
    </div>
    <div class="col-6_sm-12-middle">
      <div class="padding-md">
        <h2>
          {{section.heading}}
        </h2>
        <p>
          {{section.content_html}}
        </p>
        {% if section.add_button %}
        <a href="{{section.button_url}}" class="btn-outline">{{section.button_text}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>