<div id="column-section-1" class="column-section-1 padding-md {{section.background_class}}">
  <div class="grid-noGutter-spaceAround">
    <div class="col-6_sm-12-middle">
      <div class="img-lg bg-pattern">
        {% assign path = section.image %}
        {% assign alt = section.alt_text %}
        {% include image-lazy.html %}
      </div>
    </div>
    <div class="col-6_sm-12-middle">
      <div class="padding-md">
        <h2 class="editable">
          More than just hairstyling
        </h2>
        <p class="editable">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vero placeat hic esse, ipsam unde voluptates mollitia amet. Maxime expedita est consequuntur aliquam incidunt sequi iure ad quibusdam officia voluptatum exercitationem quisquam harum, quod sapiente sit facilis maiores ullam libero!
        </p>
      </div>
    </div>
  </div>
</div>