<section id="contact-form" class="contact-form padding-x-lg padding-y-md flex-center {{section.background_class}}">
  <h3 class="editable center">
    Join our team
  </h3>
  <form action="{{section.action_code_block}}" method="{{section.method}}" class="form-container">
    <label for="name">Your Name</label>
    <input type="text" name="name" id="name" placeholder="Full Name" />
    <label for="email">Your email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email address" />
    <label for="message">Introduce yourself</label>
    <textarea name="message" id="message" rows="6" placeholder="Leave us a message with your motivation and contact details."></textarea>
    <input type="submit" value="Contact Us" />
  </form>
</section>