<section id="contact-form" class="contact-form padding-x-lg padding-y-md flex-center {{section.background_class}}">
  <h3 class="editable center">
    Join our team
  </h3>
  <form action="{{site.data.settings.configuration.form_submission_handler_code_block}}" method="{{section.method}}" class="form-container">
    <input type="hidden" name="u" value="cbe8afc18490458279c7665f7" />
    <input type="hidden" name="id" value="50e155b962" />
    <label for="name">Your Name</label>
    <input type="text" name="MERGE1" id="MERGE1" placeholder="Full Name" />
    <label for="email">Your email</label>
    <input type="email" name="MERGE0" id="MERGE0" placeholder="Enter your email address" />
    <label for="message">Introduce yourself</label>
    <textarea name="MERGE6" id="MERGE6" rows="6" placeholder="Leave us a message with your motivation and contact details."></textarea>
    <input type="submit" value="Contact Us" class="btn-solid" />
  </form>
</section>