
<section id="cta-1" class="cta-1 padding-lg flex-center center" style="background-image: url({{section.background_image}});">
  <div class="cta-content">
    <h2 class="editable">
 	Book an appointment
 </h2>
    <p class="editable">
 	&nbsp;You can book your haircut, blow dry or styling service through our online booking system or please call us on the numbers below. For hair colour or extension services please call us. 01543 897790<br />If you can't find an appointment online please give us a call and we will happily add your name to a waiting list.
 </p>
    <a href="/services" class="btn-solid editable" data-aos="zoom-in" data-aos-offset="300">Schedule Appointment</a>
  </div>
</section>