<section id="cta-1" class="cta-1 padding-lg flex-center center" style="background-image: url({{section.background_image}});">
  <div class="cta-content">
    <h2 class="editable">
 	Book a Service
 </h2>
    <p class="editable">
 	&nbsp;You can book your haircut, blow dry or styling service through our online booking system or please call us on the number below. For all hair colour, bridal and extension services please call us on&nbsp; 01543 897790 or email us at sales@thestyleloungelichfield.com.<br /><br />If you can't find an appointment online please give us a call and we will happily add your name to our waiting list.
 </p>
    <a href="/services" class="btn-solid editable" data-aos="zoom-in" data-aos-offset="300">Book Appointment</a>
  </div>
</section>
