
<section id="cta-1" class="cta-1 padding-lg flex-center center" style="background-image: url({{section.background_image}});">
  <h2 class="editable">
    Book an appointment
  </h2>
  <p class="editable">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti itaque eos illum quam quis dolorum distinctio consequatur qui, nesciunt delectus, suscipit quibusdam rem eligendi quasi!
  </p>
  <a href="{{section.button_url}}" class="btn-solid editable" data-aos="zoom-in" data-aos-offset="300">Schedule Appointment</a>
</section>