<section id="highlight-boxes" class="highlight-boxes padding-x-lg padding-y-sm center {{section.background_class}}">
  <h2 class="editable">
 	Our Services
 </h2>
  <p class="editable">
 	Our selection of services can cater for all of your beauty needs.
 </p>
  <div class="grid-noGutter-spaceAround padding-y-sm bg-pattern">
    {% for highlight in section.highlights %}
    <div class="col-4_md-6_sm-12" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="200">
      <a href="{{highlight.url}}">
        <div class="padding-sm">
          <div class="highlight-container">
          
            <div class="responsive-img-container">

              <img src="{{highlight.highlight_image | replace: "/assets/images", "/assets/images/srcset/360"}}" srcset="{{highlight.highlight_image | replace: "/assets/images", "/assets/images/srcset/360" | replace: "jpg", "webp"}}" alt="{{highlight.highlight_image_alt_text}}" class="responsive-img lazyload">
            </div>
            <div class="highlight-inner">
              <h3>
                {{highlight.heading}}
              </h3>            
            </div>
          </div>
        </div>
      </a>
    </div>  
    {% endfor %}    
  </div>
  <a href="/services" class="btn-outline editable">All services</a>
</section>
