<section id="illustrated-quote" class="illustrated-quote">
  <div class="">
    <div class="large-image">
      {% assign path = page.highlight_image %}
      {% assign alt = page.highlight_image_alt_text %}
      {% include image.html path = page.highlight_image alt = page.highlight_image_alt_text %}
    </div>
  </div>
  <div class="quote-box bg-accent">
    <div class="quote-content">
      <p class="editable">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="quote-name">
      <h3 class="editable">
        Spiritual Bigfoot
      </h3>
    </div>
  </div>
</section>
