<main class="padding-lg center">
  <div class="padding-sm">
    <div class="avatar">
      <div class="responsive-img-container">
        {% responsive_image path: assets/images/the-style-lounge-logo.png alt: Style Lounge %}
      </div>
    </div>
    <h3>{{page.title}}</h3>
    <h1>
      Lorem, ipsum dolor.
    </h1>
    <h2>
      Lorem ipsum dolor sit amet.
    </h2>
  </div>
  <div class="flex-center padding-md bg-shade">
    <p class="editable">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</main>