<section id="our-salon" class="our-salon center padding-lg">
  <h2 class=" uppercase ">{{include.section.heading}}</h2>
  <p>
    {{include.section.content_html}}
  </p>
  <div class="flex-row-center my-4">
    <div class="brand-logo padding-sm">
      <img src="/assets/images/oribe-logo-vector.svg" alt="">
    </div>
    <div class="brand-logo padding-sm">
      <img src="/assets/images/loreal-logo-vector.svg" alt="">
    </div>
    <div class="brand-logo padding-sm">
      <img src="/assets/images/ghd-logo-vector.svg" alt="">
    </div>

  </div>
</section>