<section id="item-cards" class="item-cards padding-y-md padding-x-lg {{section.background_class}}">
  <div class="grid-noGutter-spaceAround">
    {% for professional in section.professionals %}
    <div class="col-5_md-12 item-card" data-aos="fade-up" data-aos-duration="1000">
      {% unless professional.profile_image == nil %}
      <div class="item-img">     
        {% assign path = professional.profile_image | replace: "/assets/images", "assets/images" %}
        {% assign alt = professional.name %}
        {% include image-lazy.html %}   
        
      </div>
      {% endunless %}
      <div class="item-content">
        <div class="item-heading">
          <h3>
            {{professional.name}}
          </h3>
        </div>
        <div class="item-description center">
          <p>
            {{professional.bio_text_html}}
          </p>
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</section>