<section id="item-cards" class="item-cards padding-y-md padding-x-lg {{section.background_class}}">
  <div class="grid-noGutter-spaceAround">
    {% for service in section.services %}
    <div class="col-5_md-12 item-card">
      <div class="item-img">
        {% assign path = service.feature_image | replace: "/assets", "assets" %}
        {% assign alt = service.name %}
        {% include image-lazy.html %}
        <!-- <img src="{{service.feature_image}}" alt="{{service.alt_text}}"> -->
      </div>
      <div class="item-content">
        <div class="item-heading">
          <h3>
            {{service.name}}
          </h3>
        </div>
        <div class="item-description center">
          <p>
            {{service.description_text_html}}
          </p>
        </div>
        <!-- <a href="{{site.data.settings.}}" class="btn-outline"></a> -->
      </div>
    </div>
    {% endfor %}
  </div>
</section>