<section id="item-cards" class="item-cards padding-y-md padding-x-lg {{section.background_class}}">
  <div class="grid-noGutter-spaceAround">
    {% for service in section.services %}
    <div class="col-5_md-12 item-card" data-aos="zoom-in">
      {% unless service.feature_image == nil %}
      <div class="item-img">
        {% assign path = service.feature_image | replace: "/assets/images", "assets/images/srcset/600" %}
        {% assign alt = service.name %}
        {% include image-600.html %}   
      </div>
      {% endunless %}
      <div class="item-content center">
        <div class="item-heading">
          <h3>
            {{service.name}}
          </h3>
        </div>
        <div class="item-description">
          <p>
            {{service.description_text_html}}
          </p>
        </div>
        <a href="{{service.booking_url}}" class="btn-outline">{{service.button_text}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>