<section id="team-listing" class="team padding-x-lg padding-y-md">
  <div class="grid-noGutter-spaceAround">
    <div class="col-6_sm-12-middle flex-center bg-pattern">
      <h2 class="editable">
 	Our Team
 </h2>
      <p class="editable center padding-lg">
 	Meet the team of professionals that look after you at The Style Lounge
 </p>
      <a href="{{section.button_url}}" class="btn-outline">
        Meet the team
      </a>
    </div>
    <div class="col-6_sm-12-middle grid-noGutter-equalHeight-spaceAround">
      {% for member in section.team_members %}
      <div class="col-4_md-6_sm-12">
        <div class="team-card padding-md">
          {% unless member.avatar_image == nil %}
          <div class="team-avatar">
            {% assign path = member.avatar_image | replace: "/assets/images", "assets/images/srcset/360" %}
            {% assign alt = member.name %}
            {% include image-360.html %}   
          </div>
          {% endunless %}
          <h3 class="team-name">
            {{member.name}}
          </h3>
          <p class="team-role">
            {{member.role}}
          </p>
          <!-- <p class="team-bio">
            {{member.bio_text}}
          <p></p> -->
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>