<!-- <section id="fb-reviews" class="fb-reviews padding-y-md flex-center {{section.background_class}}"> -->
  <!-- <div class="bg-secondary padding-sm">  -->    
    
    <div class="elfsight-app-f4961686-463a-4fb4-8aef-d8406680984d" data-elfsight-app-lazy data-elfsight-app-lazy style="background-color: whitesmoke;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;"></div>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <!-- </div> -->
<!-- </section> -->