---
layout: compress
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include essentials/head.html %}
  <body class="bg-primary">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TZCS67" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include essentials/header.html %}

    {{ content }}

    {% include generators/code-blocks.html %}

    {% include essentials/footer.html %}
    <!-- Messaging Chat widget -->
    <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-8e744331-d8e6-426e-9e63-1a69e398ebe9"></div> -->
    <!-- End of Messaging Chat widget -->
    {% include essentials/scripts.html %}
  </body>
</html>
