---
---
// Main SCSS file
// Check the README file for information on how to edit
// Edit your 'resets', 'utilities' and 'universal' styles in the _sass directory

@import '_resets';

// Sass variables
// Sass global variables must come BEFORE partials that use them and declared on the 'main.scss' file
$dark-color                      : {{site.data.settings.colors.dark_color}};
$light-color                     : {{site.data.settings.colors.light_color}};
$accent-shade                    : {{site.data.settings.colors.accent_shade_color}};
$accent-color                    : {{site.data.settings.colors.accent_color}};
$body-font-family                : {{site.data.settings.fonts.body_font_family}};
$heading-font-family             : {{site.data.settings.fonts.design_font_family}};
$heading-default-bottom-margin   : 2rem;
$gallery-padding                 : 1.5rem;

// Sass partials
// Add necessary partials from here onwards
@import
  '_mixins',
  '_utility',
  '_universal',
  '_padding',
  '_containers',
  '_buttons',
  '_nav',
  '_header',
  '_footer',
  '_blocks',
  '_highlight-boxes',
  '_2-image-grid',
  '_column-section-1',
  '_media-queries';

  // Alternatively, write your CSS/SCSS from here onwards
